<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="customer" />
                <binding name="deliveryAddress" />
                <binding name="vhpdevice" />
                <binding name="vhpmold" />
                <binding name="vhpprocess" />
                <binding name="compound" />
                <binding name="supplier" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="customer"
                contract="BasicService.ICustomerService" name="customer" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="deliveryAddress"
                contract="BasicService.IDeliveryAddressService" name="deliveryAddress" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="vhpdevice"
                contract="BasicService.IVHPDeviceService" name="vhpdevice" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="vhpmold"
                contract="BasicService.IVHPMoldService" name="vhpmold" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="vhpprocess"
                contract="BasicService.IVHPProcessService" name="vhpprocess" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="compound"
                contract="BasicService.ICompoundService" name="compound" />
            <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="supplier"
                contract="BasicService.ISupplierService" name="supplier" />
        </client>
    </system.serviceModel>
</configuration>